We're using bun as our package manager.
It's a remix run project using vite and cloudflare pages.
Leverage all the core principles of remix with loaders, actions and client and server side separation.
Use fullstack data flow, server vs client code execution, react router, progressive enhancement, pending ui, form vs fetcher.
Project must use shadcn/ui for styling and components, we're using the default theme and slate theme.
Strictly keep isolate component UX separate from business logic and data like storybook and shadcn/ui prescribes to keep testing and iteration fast.